.feature {
    padding-bottom: 130px;
    &-container {
      display: flex;
      align-items: flex-end;
      gap: 0 170px;
    }
    &-desc {
      margin-bottom: 23px;
    }
    &-list {
      list-style-type: none;
    }
    &-item {
        display: flex;
        align-items: center;
        gap: 0 10px;
        font-size: 12px;
        line-height: 16px;
    }
  }
  
.item-content {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(30 / 14);
}

  @media screen and (max-width: 1023px) {
    .feature-container {
      gap: 0 30px;
      align-items: center;
    }
    .feature {
      padding-bottom: 95px;
    }
  }
  @media screen and (max-width: 767px) {
    .feature {
      padding-bottom: 50px;
    }
    .feature-container {
      flex-direction: column;
      gap: 50px 0;
    }
  }
  